
<!DOCTYPE html>
<html style="background-color: #000;">

<head>
    <title>医师界面</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../Content/index.css">
</head>

<body style="background-color: #000;">
    <div class="doc_main">
        <div class="doc_mainHeader">
            <p id="deptName">@ViewBag.deptName</p>
        </div>
        <div class="doc_maincontent">
            <div class="doc_main_info">
                <p>当前候检人数<i id="deptNum"></i></p>
            </div>
            <div class="doc_main_content clearfix">
                <p class="doc_main_name">候检人姓名<i id="CurName"></i></p>
                <p class="doc_main_sex">性别<i id="CurSex"></i></p>
                <p class="doc_main_age">年龄<i id="CurAge"></i></p>
            </div>
            <div class="doc_main_content clearfix">
                <span>体检号</span>
                <input type="text" placeholder="扫码枪输入体检号" id="inputPatientid">
                <button onclick="getUserInfo()">查询</button>
            </div>
            <div class="doc_main_content clearfix">
                <p class="doc_main_name" >到检人姓名<i id="ComeName"></i></p>
                <p class="doc_main_sex" >性别<i id="ComeSex"></i></p>
                <p class="doc_main_age" >年龄<i id="ComeAge"></i></p>
            </div>
            <div class="doc_main_btn clearfix">
                <button onclick="Patient()">下一位</button>
                <button onclick="recall()">重新呼叫</button>
                <button onclick="OverNumber()">过号</button>
            </div>
            <div class="doc_main_next">
                <span id="CurName1">@ViewBag.name</span>
                <p>下一站<i id="nxtDept">@ViewBag.nxtDept</i></p>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript">
    window.onload = function(){
        NxtPatient()
    }
    function recall()
    {
        $.post('/Algorithm/getFirstUserInfo',
            function (data, status) {
                console.log(data)
                user = JSON.parse(data);
                document.getElementById('CurName').innerHTML = user.name
                document.getElementById('CurSex').innerHTML = user.sex
                document.getElementById('CurAge').innerHTML = user.age
            })
    }
    function getUserInfo()
    {
        
        $.post('/Algorithm/GetUserInfo',
            {
                patientid: document.getElementById('inputPatientid').value
            },
            function (data, status) {
                user = JSON.parse(data);
                document.getElementById('ComeName').innerHTML = user.name
                document.getElementById('ComeSex').innerHTML = user.sex
                document.getElementById('ComeAge').innerHTML = user.age
            })
    }
    function Patient()
    {
        CurPatient();
    }
    function NxtPatient()
    {
        $.post('/Algorithm/getDeptNumber',
          function (deptNum, state) {
              if (deptNum <= 0)
              {
                  alert("当前已无候检人，请勿重复操作")
              }
              else {
                  //更新诊室数量
                  document.getElementById('deptNum').innerHTML = deptNum

                  //更新当前诊室的下一个病人
                  $.post('/Algorithm/getFirstUserInfo',
                  function (data, status) {
                      user = JSON.parse(data);
                      console.log(data)
                      document.getElementById('CurName').innerHTML = user.name
                      document.getElementById('CurSex').innerHTML = user.sex
                      document.getElementById('CurAge').innerHTML = user.age
                  })
              }

          })
    }
    function CurPatient()
    {
        //下一站
        $.post('/Algorithm/getNxtDeptInfo',
            function (data, status) {
                console.log(data);
                dept = JSON.parse(data)
                document.getElementById('CurName1').innerHTML = user.name
                document.getElementById('nxtDept').innerText = dept.deptname + '科室(您的排序序号' + dept.deptnum+1 + ')'
                NxtPatient();
            })
    }
    function OverNumber()
    {
        $.post('/Algorithm/getDeptNumber',
          function (deptNum, state) {
              if (deptNum <= 0)
              {
                  alert("当前已无候检人，请勿重复操作")
              }
              else {
                  $.post('/Algorithm/OverNumber',
                      function (data, status)
                      {
                          user = JSON.parse(data);
                          document.getElementById('CurName').innerHTML = user.name
                          document.getElementById('CurSex').innerHTML = user.sex
                          document.getElementById('CurAge').innerHTML = user.age
                          console.log(status)
                      })
              }
          })
    }

</script>
