
@{
    ViewBag.Title = "Algo";
}

<h2>@ViewBag.Message</h2>
<input type="button" value="algo" onclick="Algo()">
<script type="text/javascript">
    function Algo()
    {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '/Algorithm/algo_json',
            data: {'patientid':'123'},
            async: true,
            success:function(data)
            {
                data = $.parseJSON(data);
                console.log(data.deptcode);
                console.log(data.deptname);
                console.log(data.deptnum);
            },
            error: function () {
                alert('error!');
            }

        });
    }

</script>