@{ 
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
<!DOCTYPE html>
<html lang="en">
<head>
    <script src=""></script>
    <meta charset="utf-8">
    <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
    <meta name="author" content="Vincent Garreau" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="../Content/style.css">
    <link rel="stylesheet" type="text/css" href="../Content/reset.css" />
</head>
<body>

    <div id="particles-js">
        <div class="login">
            <div class="login-top">
                注册信息
            </div>
            <div class="login-center clearfix">
                <div class="login-center-input">
                    <input type="text" placeholder="请输入您的patient_id" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的patient_id'" id="patientid"/>
                    <div class="login-center-input-text">patientid</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-input">
                    <input type="text"  id="deptName"/>
                    <div class="login-center-input-text">科室名称</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-input">
                    <input type="text" id="deptNum" />
                    <div class="login-center-input-text">排队人数</div>
                </div>
            </div>
            <div class="login-button" onclick="getFirstDeptInfo()">
                注册
            </div>
        </div>
        <div class="sk-rotating-plane"></div>
    </div>
</body>

</html>

<script type="text/javascript">
    function getFirstDeptInfo()
    {
        $.post('/Algorithm/getFirstDeptInfo',
            {
                patientid: document.getElementById('patientid').value       
            },
            function (data, status) {
                dept = JSON.parse(data)
                document.getElementById('deptName').value = dept.deptName;
                document.getElementById('deptNum').value = dept.deptNum + 1;
                console.log(status)
            })
    }
</script>
